.grid(@spans: 12, @cols: 12, @margin: 1.6, @bp: 500px) {
  
  @space: 100% - (@cols - 1) * @margin;
  @col: @space / @cols;
  
  width: 100%;
  margin: 1% 0 1% 0%;
  
  display: block;
  float: left;
  
  &:first-child { margin-left: 0; }
  
  @media only screen and (min-width: @bp) {    
    width: (@spans * @col) + (@spans - 1) * @margin;
    margin: 1% 0 1% @margin * 1%;
  }
}
